@model GLI.GlobalEntity.ArbitrationDTO
@{
    ViewData["Title"] = "Negotiation";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="page-content" style="min-height:1269px">
    <div class="row">
        <div class="col-md-6">
            <div class="btn-group">
                <button id="sample_editable_1_new" class="btn blue" onclick="@("window.location.href='" + @Url.Action("GetNegotiation", "Admin") + "'");">
                    Get Negotiation
                </button>
            </div>
        </div>
    </div>
    <br />
    <div class="tab-content">
        <div class="tab-pane active" id="tab_0">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Negotiation
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    @using (Html.BeginForm("Negotiation", "Admin", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                    {
                        <div class="form-body">
                            <div class="form-group">
                                <label class="col-md-3 control-label text-left"><strong>Negotiation Title </strong><span style="color:red;">*</span></label>
                                <div class="col-md-9">
                                    @Html.TextAreaFor(m => m.Title, new { @class = "form-control input-circle", placeholder = "Enter Description", @autocomplete = "off", @required = "required", @rows = "10" })
                                </div>
                            </div>
                            <div class="form-group">

                                <label class="col-md-3 control-label text-left"><strong>Mediation Description </strong><span style="color:red;">*</span></label>
                                <div class="col-md-9">
                                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control input-circle", placeholder = "Enter Description", @autocomplete = "off", @required = "required", @rows = "10" })
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn btn-circle blue">Submit</button>
                                    <button type="button" class="btn btn-circle green" href="javascript:void(0);">Clear</button>
                                </div>
                            </div>
                        </div>
                    }
                    <!-- END FORM-->
                </div>
            </div>
        </div>
    </div>
</div>

