@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div>
        <div class="ion-log-out">
            <h1>Oops</h1>
        </div>
    </div>
</body>
</html>